data/
mnist/
mnist.log
fashion_mnist/
fashion_mnist.log
cifar10/
cifar10advanced/
cifar100advanced/
cifar100_vit/
cifar10.log
cifar10advanced.log
cifar100advanced.log
cifar100vit.log
alpha_mnist/
mlp_fashion_mnist/
spectral/__pycache__/
scaling_comparison.png
comparison_2n2.png